
#TieuDe {
  text-align: center;
  font-size: 20px;
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text; 
    -moz-background-clip: text;
    background-clip: text; 
  color: transparent;
}

#ListScam {
font-size: 15px;
}

#BarTimKiem {
  text-align: center;
}






