/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/*==Style cho menu===*/
#menu ul {
  background: #fff;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #000;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}

#TieuDe {
  text-align: center;
  font-size: 20px;
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text; 
    -moz-background-clip: text;
    background-clip: text; 
  color: transparent;
}

#ListScam {
font-size: 15px;
}

#BarTimKiem {
  text-align: center;
}





